<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<%- include ('../partials/bundnav.ejs') %>
<header>
    <h1>All Albums</h1>
</header>
<main id="albums_main">
    <section style="display: flex;">
        <h3>Featured Albums</h3>
        <a style="color: #FF1168; text-decoration: none;" href="">view all</a>
    </section>
</main>
<%- include ('../partials/after-footer') %>