<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<%- include ('../partials/bundnav.ejs') %>
<header>
    <h1>All Albums</h1>
</header>
<main id="albums_main">
    <section class="head_line" style="display: flex;">
        <h3>Featured Albums</h3>
        <a style="color: #FF1168; text-decoration: none;" href="">view all</a>
    </section>
    <section id="img_wrapper">
        <img src="/assets/images/pexels-photo-1816943.png" alt="">
        <img src="/assets/images/pexels-photo-1435457.png" alt="">
        <img src="/assets/images/pexels-photo-1988681.png" alt="">
    </section>
    <section class="head_line" style="display: flex;">
        <h3>New releases</h3>
        <a style="color: #FF1168; text-decoration: none;" href="">view all</a>
    </section>
    <section id="dis_wrapper" style="display: flex;">
        <img src="/assets/images/pexels-photo-1816943.png" alt="">
        <div style="position: relative;">
            <h3 style="margin: 0 auto;">Old Town Road</h3>
            <p style="margin: 0 auto;">Billy Ray Cyrus</p>
        </div>
    </section>
</main>
<%- include ('../partials/after-footer') %>