<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<header>
    <h1>Category</h1>
</header>
<main style="justify-content: center; display: block;">
    <button>
        <p>Altertive</p>
        <img src="../assets/images/_ionicons_svg_ios-more.png" alt="">
    </button>
    <ul>
        <li>api track</li>
        <li><img src="/assets/images/_ionicons_svg_ios-arrow-forward.png" alt=""></li>
    </ul>
</main>
<%- include ('../partials/after-footer') %>