<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<%- include ('../partials/bundnav.ejs') %>
<header>
    <h1>Category</h1>
</header>
<main id="main_section" style="justify-content: center; display: block;">
    
</main>
<script>
    const Client_ID= "518dccc5fe3f4837ada3bcc4131633a0";
    const Client_Secret= "67be048f4c8c470cb604830bd27a69c3";
</script>
<script src="/assets/javascript/category.js"></script>
<%- include ('../partials/after-footer') %>