<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<header>
    <h1>Featured</h1>
</header>
<main style="justify-content: center; display: flex;">
    <section>
        <h1 href="">The Greatest Showman</h1>
        <p>Soundtrack</p>
    </section>
</main>
<%- include ('../partials/after-footer') %>