<%- include ('../partials/head') %>
<%- include ('../partials/nav.ejs') %>
<%- include ('../partials/bundnav.ejs') %>
<header>
    <h1>Featured</h1>
</header>
<main style="justify-content: center; display: flex;">
    <section id="background_pic">
        <h1 href="">The Greatest Showman</h1>
        <p>Soundtrack</p>
    </section>
</main>
<script src="/assets/javascript/feated.js"></script>
<%- include ('../partials/after-footer') %>