@import "variables";
main{
    .background_pic{
        color: white;
        font-size: x-large;
        height: 110vw;
        position: relative;
        div{
            width: 80%;
            margin: 0 auto; 
            p{
                position: absolute;
                bottom: 50px;
            }
            h1{
                bottom: 100px;
                position: absolute; 
            }
        }
    } 
} 