@import "variables";
nav {
	position: fixed;
    bottom: 0;
    z-index: 10;
	background-color: $primaryColor;
	width: 100%;
	ul {
		display: flex;
		list-style: none;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 65px;
		li {
			margin: 0 auto;	
			img{
				position: relative;
				align-items: center;
			}
		}
	}
}